@using Microsoft.AspNetCore.Http
@using System.Text
@inject IHttpContextAccessor HttpContextAccessor
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <a class="navbar-brand" href="#" style="margin-left:2%;font-size:x-large;">Share It</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto">

                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/Posts/Posts">Ana Sayfa</a>
                    </li>


                    @if (HttpContextAccessor.HttpContext.Session.Get("user") != null)
                    {
                        <li class="nav-item ">
                            <a class="nav-link text-dark" asp-page="/MyFavorites/Index">Favorilerim</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-page="/MyPosts/Index">Paylaştıklarım</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-page="/MyPosts/Create">Paylaşım Yap</a>
                        </li>
                    }
                        
                </ul>
                @if (HttpContextAccessor.HttpContext.Session.Get("user") == null)
                {
                    <div class="form-inline my-2 my-lg-0">
                        <a class="nav-link text-dark" asp-page="/Login/Login">Giriş Yap</a>
                    </div>
                    <div class="form-inline my-2 my-lg-0">
                        <a class="nav-link text-dark" asp-page="/Register/Register">Kayıt Ol</a>
                    </div>
                }
                @if (HttpContextAccessor.HttpContext.Session.Get("user") != null)
                {
                    <div class="form-inline my-2 my-lg-0">
                        @if (HttpContextAccessor.HttpContext.Session.Get("admin") != null)
                        {
                            <a class="nav-link text-dark" asp-page="/AdminPanel/Profile">
                                @Encoding.UTF8.GetString(HttpContextAccessor.HttpContext.Session.Get("user"), 0, HttpContextAccessor.HttpContext.Session.Get("user").Length)
                            </a>
                        }
                        else
                        {
                            <a class="nav-link text-dark">
                                @Encoding.UTF8.GetString(HttpContextAccessor.HttpContext.Session.Get("user"), 0, HttpContextAccessor.HttpContext.Session.Get("user").Length)
                            </a>
                        }

                    </div>
                    <div class="form-inline my-2 my-lg-0">
                        <a class="nav-link text-dark logout"style="cursor:pointer;">Çıkış Yap</a>
                    </div>
                }

            </div>
        </nav>
    </header>
    <div class="row">
        <div class="col-md-12">
            @*<div>
                @await Html.PartialAsync("_SelectCulturePartial")
            </div>*@
            @RenderBody()
        </div>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2019 - WebProgrammingProject - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>



    @RenderSection("Scripts", required: false)
</body>
</html>

<script>
    $(document).ready(function () {

        $(".logout").on('click', function () {

            $.get("/Login/Login?handler=Logout").then(function () {
                window.location = "/Index";
            });

        });
    });

</script>